@font-face {
    font-family: "<%= fontName %>";
    src: url("<%= fontPath %><%= fontName %>.ttf") format('truetype');
    src: url('<%= fontPath %><%= fontName %>.eot?#iefix') format('eot'),
    url('<%= fontPath %><%= fontName %>.woff2') format('woff2'),
    url('<%= fontPath %><%= fontName %>.woff') format('woff'),
    url('<%= fontPath %><%= fontName %>.ttf') format('truetype'),
    url('<%= fontPath %><%= fontName %>.svg#<%= fontName %>') format('svg');
}

@mixin styles{
    font-family: "<%= fontName %>";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
    text-decoration: none;
    text-transform: none;
    vertical-align: middle;
}

[class^="icon-"], [class*=" icon-"]{
    @include styles;
}


$svg-font-map: (<% _.each(glyphs, function(glyph) { %>"<%= glyph.fileName %>":"\<%= glyph.codePoint %>", <% }) %>);

@mixin <%= cssClass%>($filename, $insert: before, $extend: true) {
    &::#{$insert}{ content:map-get($svg-font-map, $filename); }
}

<% _.each(glyphs, function(glyph) { %>.<%= cssClass%>-<%= glyph.fileName %> { @include <%= cssClass%>(<%= glyph.fileName %>); }
<% }); %>